
main{
    min-height: 100vh;
    background-color: rgba(56, 55, 55, 0.623);
}
footer{
    height: 8vh;
    background-color: brown;
}
.contenedorIMG{
    height: 90%;
    width: 50%;
}
.contenedorIMG img{
    height: 80%;
}
.logo{
    height: 100%;
}
#logo{
    height: 5vh;
}
.carousel-inner{
    height: 45vh;
}
.carousel-item{
    height: 100%;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.card {
    height: 100%
}

.cardIMG {
    height: 200px; 
    object-fit: cover; 
}

.cardIMG {
    height: 200px;
    object-fit: cover; 
}

h5.card-title {
    height: 6vh;
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  .card-text {
    height: 15vh;
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  
  .details{
    width: 80%;
  

  }
  .Details{
    height: 100%;
  }
  .detailsIMG{
    height: 100%;
    object-fit: cover;
  }
  .filtro{
    display: none;
}


 
  




